{% extends 'main.html' %}

{% block content%}
<style>
    /****Change navbar in login page*****/
    .navbar-text .nav-item .nav-link {
        color: black !important;
    }

    .navbar-brand {
        color: black !important;
    }
</style>
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Sign In</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">Ready to start Recruitment Project with Us? Login to begin</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">

                <form method="POST">
                    {% csrf_token %}

                    <!-- Username-->
                    <div class="form-floating mb-3">
                        <input class="form-control" name="user_name" type="text" placeholder="Enter your username"
                            data-sb-validations="required,username" />
                        <label for="user_name">Username</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">Username is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">USername is not valid.</div>
                    </div>
                    <!-- Password-->
                    <div class="form-floating mb-3">
                        <input class="form-control" name="password" type="password" placeholder="***********"
                            data-sb-validations="required" />
                        <label for="password">Password</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">Password is required.</div>
                    </div>

                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>

                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3">Error sending message!</div>
                    </div>
                    <!-- Submit Button-->
                    <div class="d-grid"><button class="btn btn-primary btn-xl " type="submit">Login</button></div>
                </form>

                <!-- {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {{ message }}
                        </li>
                        {% endfor %}
                </ul>
                {% endif %} -->
            </div>
        </div>

    </div>
</section>

{% endblock content%}